.breadcrumbs{
    display: inline-block;
    padding: 24px 0;

    a{
        position: relative;
        padding-right: 16px;
        margin-right: 16px;
    }
    a:after{
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4px;
        height: 4px;
        background-color: #1E1E1E;
        border-radius: 50%;
    }
    a.active{
        color: #EB0029;
    }
}   a:last-child:after{
        display: none;
    }
.black-layout .breadcrumbs svg circle{
    fill: #fff;
}

// ----------------media-styles------------------------
@media (max-width: 576px) {
    .breadcrumbs{
        display: none;
    }
}