.header{
    padding: 20px 0;
   
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 50px;
        position: relative;
    }
    &__burger{
        display: none;
        cursor: pointer;
    }
    &__nav{
        ul{
            display: flex;
            align-items: center;
            gap: 68px;
            white-space: nowrap;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -2%;

                > li{
                padding: 25px 0;
            }
        }
      
    }
    &__contacts{
        display: flex;
        align-items: center;
        // gap: 46px;
        a{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .mail{
            padding: 0 20px;
            border-right: 1px solid rgba(30, 30, 30, 0.1);
            border-left: 1px solid rgba(30, 30, 30, 0.1);
            margin: 0 22px;
        }
    }
}
.has-submenu{  
    & > a{
        position: relative;
         padding-right: 16px;
    } 
    & > a::after{
        content: '';
        position: absolute;
        top: 40%;
        right: 0px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
    }
    .has-submenu::after,
    .has-submenu > a::after{
        display: none;
    }
    > .submenu{
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 16px 20px;
        gap: 10px;
        z-index: 10;
        grid-template-columns: repeat(4, 1fr);
        align-items: start;
        column-gap: 78px;
        display: none;
        
        > li{
            padding: 0;
        }
        > li > a{
            display: inline-block;
            width: 100%;
            background: no-repeat  100%/cover url('../../assets/imgs/sub-menu.png');
            text-transform: uppercase;
            color: #FFF;
            padding: 8px 29px 8px 24px;
            position: relative;
        }

        .submenu{
            position: absolute;
            width: 100%;
            display: flex;
            flex-direction: column;
        }

    }
    &:hover > .submenu{
        display: grid;
    }
    .has-submenu{
        background: unset;
        .submenu{
            display: flex;
            position: static;
            box-shadow: none;
            border-radius: 0;
            padding: 5px;
            
           
            li a{
                background: unset;
                color: #6A6A6A !important;
            }
        }
    }
}
.has-dropmenu{
    position: relative;
    > a{
        position: relative;
        padding-right: 16px;

        &::after{
        content: '';
        position: absolute;
        top: 40%;
        right: 0px;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-top: 1px solid #000;
        border-right: 1px solid #000;
        transform: rotate(135deg);
    }
    }
    
    .dropmenu{
        position: absolute;
        top: 100%;
        left: 0;
        width: max-content;
        background-color: #fff;
        padding: 24px;
        gap: 10px;
        z-index: 10;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        letter-spacing: -2%;
        text-transform: uppercase;
        color: #6A6A6A;
        li{
            padding: 0;
        }
    }
    &:hover > .dropmenu{
        display: flex;
    }
}

.language-switcher {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 46px;
  right: 0;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-align: right;
  text-decoration: none;
}

.dropdown-content a:hover {
}

.language-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
}

.mobile-menu{
    display: none;
}
.black-layout{
    .header{
        svg{
            path{
                stroke: #fff;
            }
        }
        &__burger{
            svg{
                rect{
                    fill: #fff;
                }
            }
        }
        
    }
    .language-btn{
        color: #fff;
    }
    .mail{
        border-color: rgba(255, 255, 255, 0.1);
    }
    .has-submenu{
        & > a::after{
            border-color: #fff;
        }
    }
    .submenu{
        color: #000;
    }
    
}
// -------------------------------------------media-styles-------------------------------------------
@media (max-width: 1700px) {
    .has-submenu > .submenu{
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (max-width: 1300px) {
    .has-submenu > .submenu{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

@media (max-width: 1200px) {
    .header{
        &__nav{
            ul{
                gap: 30px;
            }
        }
        &__contacts{
           .mail{
                padding: 0 10px;
                margin: 0 10px;
           }
        }
    }
}


@media (max-width: 900px) {
    .header{
        .logo{
            width: 128px;
        }
        &__nav{
            display: none;
        }
        &__contacts{
            gap: 20px;

            .phone{
                svg{
                    width: 21px;
                    height: 21px;
                }
            }
            .mail{
                display: none;
            }
            .language-btn{
                font-size: 18px;
                svg{
                    display: none;
                }
            }
        }
        &__burger{
            display: block;
        }

    }
    .mobile-menu{
        display: block;
        height: 100vh;
        width: 100%;
        position: absolute;
        top: 0;
        left: -200%;
        background-color: #fff;
        color: #1E1E1E;
        z-index: 100;
        display: flex;
        flex-direction: column;
        padding: 23px 16px;
        overflow-y: scroll;
        transition: all .3s ease;

        &__top{
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 30px;
        }
        .languages{
            button{
                background: #fff;
                border: 1px solid #DBDBDB;
                padding: 3px 14px;
                transition: all .3s ease;
            }
            button.active{
                background-color: #0055B8;
                color: #fff;
            }
        }
        nav{
            margin-bottom: 23px;
           > ul{
                > li{
                    padding: 12px 0;
                    border-bottom: 1px solid #E3E3E3;
                }
            }
        }
        .has-submenu > a{
            display: inline-block;
            width: 100%;
        }
        .has-submenu > a::after{
            border-top-color: #EB0029;
            border-right-color: #EB0029;
        }
        .has-submenu > .submenu{
            display: flex;
            flex-direction: column;
            gap: 0;
        }
        .has-submenu .has-submenu .submenu{
            li{
                list-style-type: disc;
                margin-left: 20px;
            }
        }
        .has-submenu > .submenu > li > a{
            background: unset;
            color: #1E1E1E;
            padding: 0;
        }
        .submenu{
            position: static;
            display: flex;
            box-shadow: none;
            border-radius: 0;
            padding: 0px;
            text-transform: uppercase;
            font-size: 14px;
            max-height: 0;
            overflow: hidden;
            transition: all .3s ease;

            li{
                padding-top: 16px;
            }

            .submenu{
                max-height: unset;
            }
        }
    }
    .mobile-menu.active{
        left: 0;
    } 
    .has-submenu .has-submenu .submenu li a{
        color: #1E1E1E !important;
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .header{
       position:absolute;
       top: 0;
       left: 0;
       width: 100%;
       z-index: 10;
       padding: 16px 0;
       background-color: rgba(255, 255, 255, 0.28);
    }
    
}